@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

.score-text {
    font-family: 'Orbitron', sans-serif;
    font-size: 38px;
    color: #7b5b1e;
}


.view {
    background-image: url("https://cdn.spacetelescope.org/archives/images/screen/heic1304c.jpg");
    height:100%;
    width:100%;
    animation:mymove 12s linear infinite;
    background-size: 100% 200%;
}
@keyframes mymove {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: 0px -100%;
    }
}






